@page
@using Pages;
@model web.Pages.ListagemModel
@{
    ViewData["Title"] = "Pessoas";
}

<h1 class="titulo">Pessoas Cadastradas</h1>
<br />
<a class="btn btn-primary btn-sm" href="/Cadastrar">Novo Cadastro</a>
<a class="btn btn-primary btn-sm" href="/Pesquisa">Pesquisar Pessoa</a>

<table class="table">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Profissão</th>
            <th>Nacionalidade</th>
            <th>Data Nascimento</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.FormatCPF()</td>
                <td>@item.GetNome()</td>
                <td>@item.GetProfissao()</td>
                <td>@item.GetNacionalidade()</td>
                <td>@item.GetDataNascimento()</td>
                <td>@item.GetIdade()</td>
                <td>@item.GetPeso().ToString().Replace(".", ",")</td>
                <td>@item.GetAltura().ToString().Replace(".", ",")</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Editar?cpf=@item.GetCpf()">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Deletar?cpf=@item.GetCpf()">Deletar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@if (Model.list.Count() == 0)
{
    <h5 class="msg">NENHUMA PESSOA CADASTRADA.</h5>
}