@page
@model web.Pages.ListagemModel
@{
    ViewData["Title"] = "Pessoas";
}

<h1 class="titulo">Pessoas Cadastradas</h1>
<br />
<a class="btn btn-primary btn-sm" href="#">Novo Cadastro</a>

<table class="table">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Profissão</th>
            <th>Nacionalidade</th>
            <th>Data Nascimento</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.GetCpf()</td>
                <td>@item.GetNome()</td>
                <td>@item.GetProfissao()</td>
                <td>@item.GetNacionalidade()</td>
                <td>@item.GetDataNascimento()</td>
                <td>@item.GetIdade()</td>
                <td>@item.GetPeso()</td>
                <td>@item.GetAltura()</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="#">Editar</a>
                    <a class="btn btn-danger btn-sm" href="#">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>