@page
@using Pages;
@model web.Pages.ListagemModel
@{
    ViewData["Title"] = "Pessoas";
}

<head>
    <link rel="icon" href="/css/lupa.png"/>
</head>

<section id="banner">
    <small>Pessoas Cadastradas</small>
</section>
<br />
<a class="btn btn-primary btn-sm" href="/Cadastrar">Novo Cadastro</a>
<a class="btn btn-primary btn-sm" href="/Pesquisa">Pesquisar Pessoa</a>
<a class="btn btn-primary btn-sm" href="/PProfissional">Pesquisar Profissionais</a>
<a class="btn btn-primary btn-sm" href="/PDatas">Pesquisar Data</a>


<table class="table">
    <thead>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Profissão</th>
            <th>País Onde Nasceu</th>
            <th>Data Nascimento</th>
            <th>Idade</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>@item.FormatCPF()</td>
                <td>@item.Nome</td>
                <td>@item.Profissao</td>
                <td>@item.Nacionalidade</td>
                <td>@item.DataNascimento</td>
                <td>@item.Idade</td>
                <td>@item.Peso.ToString().Replace(".", ",")</td>
                <td>@item.Altura.ToString().Replace(".", ",")</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Editar?cpf=@item.Cpf">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Deletar?cpf=@item.Cpf">Deletar</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@if (Model.list.Count() == 0)
{
    <h5 class="msg">NENHUMA PESSOA CADASTRADA.</h5>
}