@page
@model web.Pages.PDatasModel
@{
    ViewData["Title"] = "Pesquisa";
}
<head>
    <link rel="icon" href="/css/pDatas.png"/>
</head>

<h1 class="titulo">Pesquisa Por Data</h1>
<br />

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (!Model.dados)
{
    <form method="post">
        <p class="titulo">Para buscar entre as datas desejadas basta informa-las abaixo.</p>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">DE</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="de"/>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-3 col-form-label">ATÉ</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="ate"/>
            </div>
        </div>

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Listagem" role="button">Cancelar</a>
            </div>
        </div>
    </form>
} 
else 
{
    <table class="table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Nome</th>
                <th>Profissão</th>
                <th>País Onde Nasceu</th>
                <th>Data Nascimento</th>
                <th>Idade</th>
                <th>Peso</th>
                <th>Altura</th>
                <th>Ação</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>@item.FormatCPF()</td>
                    <td>@item.Nome</td>
                    <td>@item.Profissao</td>
                    <td>@item.Nacionalidade</td>
                    <td>@item.DataNascimento</td>
                    <td>@item.Idade</td>
                    <td>@item.Peso.ToString().Replace(".", ",")</td>
                    <td>@item.Altura.ToString().Replace(".", ",")</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="/Editar?cpf=@item.Cpf">Editar</a>
                        <a class="btn btn-danger btn-sm" href="/Deletar?cpf=@item.Cpf">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
